<% layout('layouts/boilerplate')  %>

<h1>All Restaurants</h1>
<form class="mb-3" action="/restaurants/search">
    <div class="mb-3">
      <label for="name" class="form-label">Enter Restaurant Name</label>
      <input type="text" class="form-control" id="name" name="res_name">
    </div>

    <div class="mb-3">
        <label for="district" class="form-label">Choose District</label>
        <select class="form-select" aria-label="Default select example" id="district" name="district">
            <option selected>Choose District</option>
            <option value="District 1">District 1</option>
            <option value="District 2">District 2</option>
            <option value="District 3">District 3</option>
            <option value="District 4">District 4</option>
            <option value="District 5">District 5</option>
            <option value="District 6">District 6</option>
            <option value="District 7">District 7</option>
            <option value="District 8">District 8</option>
            <option value="District 9">District 9</option>
            <option value="District 10">District 10</option>
            <option value="District 11">District 11</option>
            <option value="District 12">District 12</option>
            <option value="Tan Binh">Tan Binh</option>
            <option value="Tan Phu">Tan Phu</option>
            <option value="Phu Nhuan">Phu Nhuan</option>
            <option value="Binh Thanh">Binh Thanh</option>
            <option value="Go Vap">Go Vap</option>
            <option value="Binh Tan">Binh Tan</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="street" class="form-label">Enter Street Name</label>
        <input type="text" class="form-control" id="street" name="street_name">
    </div>

    <div class="mb-2">
        <label for="price">Enter Min And Max Price</label>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Min Price" aria-label="Min Price" id="price" name="min_price">
        <input type="text" class="form-control" placeholder="Max Price" aria-label="Max Price" name="max_price">
    </div>

    <div class="mb-3">
        <label for="rating" class="form-label">Choose Min Rating</label>
        <select class="form-select" aria-label="Default select example" id="rating" name="rating">
            <option selected>Choose Min Rating</option>
            <option value="1">1 Stars</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% for(let restaurant of restaurants) {%>
    <div class="card mb-3">
        <div class="row">
            <!-- <div class="col-md-4">
                
            </div> -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= restaurant.name %>
                    </h5>
                    <p class="card-text">
                        <% if(restaurant.description){ %> 
                        <%= restaurant.description%>
                        <%} else{ %>
                        No Description
                        <% } %>  
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= restaurant.street_no%>, <%= restaurant.street_name%>, <%= restaurant.district%>, <%= restaurant.city%>
                    </li>
                    <li class="list-group-item">Opening: <%= restaurant.open_hours%></li>
                    <li class="list-group-item">Contact: <%= restaurant.contact_details%></li>
                    <li class="list-group-item">Average: VND <%= restaurant.avg_cost%></li>
                    <li class="list-group-item"><%=  restaurant.avg_rating %> <span class="fa fa-star" style="color:orange"></span></li>
                    <li class="list-group-item">
                        <a href="/restaurants/<%= restaurant.id %> "
                            class="btn btn-primary">View <%= restaurant.name %> </a>
                    </li>
                </ul>


                
            </div>
        </div>
    </div>
<% } %>